apiVersion: v1
kind: ConfigMap
metadata:
  name: playlists-env
data:
  PORT: '80'              # default
  OPEN_WEATHER_MAP_TOKEN: # set here your open weather map token
  SPOTIFY_CLIENT_ID:      # set here your spotify client id
  SPOTIFY_CLIENT_SECRET:  # set here your spotify client secret

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app

  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: playlists
        image: bgildson/ifood_backend_challenge:1.0.0
        ports:
        - containerPort: 80
        env:
        - name: PORT
          valueFrom:
            configMapKeyRef:
              name: playlists-env
              key: PORT
        - name: OPEN_WEATHER_MAP_TOKEN
          valueFrom:
            configMapKeyRef:
              name: playlists-env
              key: OPEN_WEATHER_MAP_TOKEN
        - name: SPOTIFY_CLIENT_ID
          valueFrom:
            configMapKeyRef:
              name: playlists-env
              key: SPOTIFY_CLIENT_ID
        - name: SPOTIFY_CLIENT_SECRET
          valueFrom:
            configMapKeyRef:
              name: playlists-env
              key: SPOTIFY_CLIENT_SECRET
        resources:
          requests:
            cpu: "200m"
            memory: "200Mi"
          limits:
            cpu: "300m"
            memory: "300Mi"

---

apiVersion: v1
kind: Service
metadata:
  name: playlists-service
spec:
  type: LoadBalancer
  ports:
  - port: 80
  selector:
    app: app

---

apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: playlists-hpa
spec:
  minReplicas: 1
  maxReplicas: 3
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: app
  targetCPUUtilizationPercentage: 40
